html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global */

body {
  font-family: "Sukhumvit Set", sans-serif;
  background-color: #282728;
  color: #fff;
	text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
	color: inherit;
}

h1,h2,h3,h4,p{
  font-weight: 500;
}

p {
	margin-top: 20px;
  font-size:18px;
  line-height: 18px;
  opacity: 0.8;
	line-height: 24px;
}

p a {
	color: #fff!important;
	font-weight: 400;
	cursor: pointer;
}

p a:hover {
	color: #fafafa;
}

.special-link {
	color:#fff;
	opacity: 1;
	text-decoration: underline;
}

h1 {
  font-size: 35px;
	font-weight: 800;
}

h2 {
	font-size: 25px;
	font-weight: 400;
}

/* Header */

header {
  padding: 10px 10%;
  position: fixed;
	width: 100%;
	z-index: 9999999;
  transition: .3s ease;
}

header.black {
	background-color: #000;
  transition: .3s ease;
}

header .logo {
  display: inline-block;
  width: 200px;
  height: 60px;
  background: url(../img/logo.svg) center no-repeat;
  background-size: 200px;
}

header .logo:hover {
  opacity: 0.8;
  cursor: pointer;
}

header .menu {
  overflow: hidden;
  display: inline-block;
  position: fixed;
  right: 10%;
  margin-top:18px;
}

header .menu a {
  color: #fff;
  font-size: 18px;
	letter-spacing: 3px;
  padding-left: 40px;
  font-weight: 400;
	display: inline-block;
}

header .menu a:hover {
  opacity: 0.6;
}


.mobile-menu-button {
	display: none;
}

.menu .close-menu {
	display: none!important;
}

/* Slide Hero */


.loading {
	padding-top: 30px;
  background-color: #030303;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 600px;
  line-height: 600px;
  text-align: center;
  color: white;
  font-size: 2rem;
}

.slider {
  background-color: #030303;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}

.slider-inner {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  -webkit-transition-timing-function: cubic-bezier(0.22, 1.61, 0.65, 1);
          transition-timing-function: cubic-bezier(0.22, 1.61, 0.65, 1);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  background-visibility: hidden;
  -webkit-transition-delay: .75s;
          transition-delay: .75s;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.slide {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #f1c40f;
  background-visibility: hidden;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.5, 0.25, 1.25);
          transition-timing-function: cubic-bezier(0.25, 0.5, 0.25, 1.25);
  -webkit-transform: translateZ(0) scale(0.8, 0.8);
          transform: translateZ(0) scale(0.8, 0.8);
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  text-align: center;
  line-height: 600px;
  font-size: 5rem;
  color: white;
}
.slide.active {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

/* Slider */

.slide:nth-child(1) {
  background: url(../img/hero/hero-1.jpg);
	background-size: cover;
}
.slide:nth-child(2) {
	background: url(../img/hero/hero-2.jpg);
	background-size: cover;
}
.slide:nth-child(3) {
	background: url(../img/hero/hero-3.jpg);
	background-size: cover;
}
.slide:nth-child(4) {
	background: url(../img/hero/hero-4.jpg);
	background-size: cover;
}
.slide:nth-child(5) {
	background: url(../img/hero/hero-5.jpg);
	background-size: cover;
}

.slider-nav {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 20px;
  text-align: center;
}
.slider-nav > div {
  float: left;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  z-index: 2;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 50%;
  opacity: .5;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  background-color: transparent;
}
.slider-nav > div:hover {
  opacity: 1;
}
.slider-nav > div.active {
  background-color: white;
  -webkit-transform: scale(2);
          transform: scale(2);
  opacity: 1;
}


.slide-hero-wrapper {
  display:block;
  background-color: #030303;
  height: 100vh;
	text-align: center;
}


/* Even hero */

.event-hero-wrapper {
  padding: 50px 10%;
  min-height: 450px;
  background: url(../img/event-hero.jpg) bottom right no-repeat;
  background-size: 750px;
	background-color: #030303!important;
}

.event-hero-wrapper h1 {
  margin-top:150px;
	letter-spacing: 4px;
}

.event-hero-wrapper p {
  margin-top:20px;
  max-width: 350px;
	margin-bottom: 30px;
}

.event {
  margin-top: 20px;
  display: inline-block;
  background-color: #333;
  width: 300px;
  height: 150px;
  transition: .1s ease;
	text-align: center;
}

.event h2 {
	margin-top: 20%;
}

.allaboutprespective {
	background:url(../img/all-about-perspective-course.jpg);
	background-size: cover;
	background-position: bottom;
}

.event:hover {
  transform: scale(1.05);
  transition: .1s ease;
  box-shadow: 0 37.125px 70px -12.125px rgba(0,0,0,0.3);
}

.action-button {
	display: inline-block;
	background-color: #fff;
	color: #333;
	font-size: 20px;
	font-weight: 600;
	padding: 10px;
	border-radius: 5px;
	margin: 30px 0 30px 0;
	  transition: .1s ease;
}

.action-button-trans {
	display: inline-block;
	background-color: none;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #fff;
	margin: 30px 0 30px 0;
	  transition: .1s ease;
}

.action-button:hover {
	cursor: pointer;
	transform: scale(1.1);
	  transition: .1s ease;
}

.action-button-trans:hover {
	cursor: pointer;
	transform: scale(1.1);
	  transition: .1s ease;
}

/*  */

.feature-hero {
  padding: 50px 10%;
}

.feature-hero h1 {
  margin-top:150px;
	letter-spacing: 4px;
}

.feature-hero p {
  margin-top:50px;
	margin-bottom: 50px;
  max-width: 350px;
}


.feature-hero p .location-tag .location-icon {
	color:#fff!important;
}

.feature-hero p.no-compress {
  margin-top:50px;
	margin-bottom: 50px;
	 max-width: 70%;
}

.spacing {
	display: block;
	height: 100px;
}

.pricing {
	font-family: "Sukhumvit Set", sans-serif;
	font-size: 26px;
	border: 2px #fff solid;
	width: 40%;
	display: inline-block;
	padding: 15px 10px;
	border-radius: 10px;
	margin: 0 10px;
	min-height: 400px;
	vertical-align: top;
}

.pricing .pricing-head {
	font-weight: 800;
}

.pricing .pricing-info {
	font-size: 17px;
	text-align: left;
	padding: 7%;
	line-height: 21px;
}

.pricing .pricing-big-data {
	font-size: 17px;
	font-weight: 600;
	text-align: left;
	margin-bottom: 30px;
	padding: 0 7%;
}

/* Text Box */

.text h2 {
	margin-top: 40px;
}

.location-tag {
	line-height: 30px;
	font-weight: 500;
	font-size: 20px;
	display: block;
}

.location-tag span {
	margin-right: 10px;
	display: inline-block;
	text-align: center;
	width: 20px;
}

/* About Hero */

.about-hero-wrapper {
  padding: 10px 10%;
  height: 100vh;
  background: url(../img/about-hero.jpg) no-repeat left top;
  background-size:110vh;
}

.about-hero-wrapper .text {
	position: absolute;
	right:10%;
	bottom: 10%;
	max-width: 350px;
}

/* Gear hero */

.gear-hero-wrapper {
  padding: 10px 10%;
  height: 100vh;
  background: url(../img/gear-hero.jpg) no-repeat;
  background-size:cover;
}

.gear-hero-wrapper .text {
	text-align: left;
	position: auto;
	padding-top:40%;
	max-width: 350px;
}


/* Wide hero */

.wide-hero-wrapper {
  padding: 10px 10%;
  height: 100vh;
  background: url(../img/wide.jpg) no-repeat;
	background-position: center top;
  background-size:cover;
}

.wide-hero-wrapper .text {
	text-align: left;
	position: auto;
	padding-top:5%;
	max-width: 350px;
}


/* Work hero */

.work-hero-wrapper {
  padding: 10px 10%;
  min-height: 100vh;
  background: url(../img/work-hero.jpg) center left no-repeat;
  background-size:cover;
	text-align: left;
}

.work-hero-wrapper .text {
	display: inline-block;
	right:10%;
	text-align: left;
	margin-top:100px;
	bottom: 10%;
	max-width: 350px;
}

/* genre */

.genre-hero-wrapper {
	text-align: center;
}

.genre {
	margin-top: 5px;
	display: inline-block;
	width: 24.5%;
	height: 200px;
	background-color: #333;
	background-size: cover;
  transition: .1s ease;
}

.genre:hover {
  transform: scale(1.05);
  transition: .1s ease;
	 box-shadow: 0 37.125px 70px -12.125px rgba(0,0,0,0.3);
}

.drone {
	background-image: url(../img/drone-hero.jpg);
}

.landscape {
	background-image: url(../img/landscape-hero.jpg);
}

.portrait {
	background-image: url(../img/portrait-hero.jpg);
}

.wedding {
	background-image: url(../img/wedding-hero.jpg);
}

.graduation {
	background-image: url(../img/graduation-hero.jpg);
}

.prewedding {
	background-image: url(../img/prewedding-hero.jpg);
}

.architecture {
	background-image: url(../img/archiecture-hero.jpg);
}


.product {
	background-image: url(../img/product-hero.jpg);
}

.genre h2 {
	margin-top: 89px;
	text-transform: uppercase;
}

/* Social */

.social-hero-wrapper {
	padding: 200px 0;
	text-align: center;
}

.social-hero-wrapper .social-icon {
	margin: 50px 10px;
}

.social-icon {
	display: inline-block;
	text-align: center;
	width: 65px;
	height: 40px;
	margin: 50px 0 0px;
	background-repeat: no-repeat;
}

.social-icon.facebook {
	background-image: url(../img/facebook-white.svg);
	background-size: contain;
}

.social-icon.twitter {
	background-image: url(../img/twitter-white.svg);
	background-size: contain;
}

.social-icon.facebook:hover {
	background-image: url(../img/facebook-color.svg);
	background-size: contain;
	cursor: pointer;
}

.social-icon.twitter:hover {
	background-image: url(../img/twitter-color.svg);
	background-size: contain;
	cursor: pointer;
}



/* Footer */

footer {
	text-align: center;
	padding: 50px;
}

footer .logo {
	display: inline-block;
	width: 200px;
	height: 35px;
	margin-bottom: -11px;
	background-image: url(../img/logo.svg);
	background-size: 200px;
	background-position: center;
}

/* Layout */

.grid-wrapper {
	margin: 50px 0;;
}

.grid-center {
	text-align: center;
}

.grid-center p {
	text-align: center;
	max-width: none;
}

.grid-full {
	margin-top: 2px;
	text-align: left;
	display: block;
	width: 100%;
}

.grid-half {
	margin-top: 2px;
	display: inline-block;
	width: 49%;
	height: 370px;
	background: #333;
}

.grid-fill {
	margin-top: 2px;
	width: 98.5%;
	height: 600px;
	background: #333;
}

/* Showcase */

.showcase-1 {
	background-image: url(../img/showcase/showcase-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

.showcase-2 {
	background-image: url(../img/showcase/showcase-2.jpg);
	background-size: cover;
	background-position: bottom;
}

.showcase-3 {
	background-image: url(../img/showcase/showcase-3.jpg);
	background-size: cover;
	background-position: center;
}

.showcase-4 {
	background-image: url(../img/showcase/showcase-4.jpg);
	background-size: cover;
	background-position: center;
}

.showcase-5 {
	background-image: url(../img/showcase/showcase-5.jpg);
	background-size: cover;
	background-position: bottom;
}


/* All About Perspective */

.all-about-prespective {
	background: url(../img/all-about-prespective.jpg);
	background-size: cover;
	background-position: center center;
	height: 90vh;
}

.no-compress .location-tag {
	margin-top: 20px;
}

.no-compress .location-tag .location-text {
	display: inline-block;
	width: 80%;
	text-align: left;
	max-width: 400px;
	vertical-align: top;
	}

.no-compress .location-tag .location-icon {
	display: inline-block;
	top: 0;
}

.perspective-info {
	display: inline-block;
	padding: 0 20%;
}

/*  Responsive */

@media screen and (max-width: 1000px) {

	h1 {
	  font-size: 25px;
		font-weight: 500;
	}

	h2 {
		font-size: 22px;
		font-weight: 400;
	}

	/* Slider */

	.slide:nth-child(1) {
	  background: url(../img/hero/hero-1-mobile.jpg);
		background-size: cover;
	}
	.slide:nth-child(2) {
		background: url(../img/hero/hero-2-mobile.jpg);
		background-size: cover;
	}
	.slide:nth-child(3) {
		background: url(../img/hero/hero-3-mobile.jpg);
		background-size: cover;
	}
	.slide:nth-child(4) {
		background: url(../img/hero/hero-4-mobile.jpg);
		background-size: cover;
	}
	.slide:nth-child(5) {
		background: url(../img/hero/hero-5-mobile.jpg);
		background-size: cover;
	}

	.feature-hero h1 {
		margin-top: 40px;
	}

	.event-hero-wrapper h1{
		margin-top: 0px;
	}

	.event-hero-wrapper {
	  padding: 30px 10%;
	  min-height: 1000px;
	  background: url(../img/event-hero.jpg) bottom right no-repeat;
	  background-size: 750px;
		background-color: #030303;
	}

	.gear-hero-wrapper {
	  padding: 10px 5%;
	  height: auto;
	  background: url(../img/gear-hero.jpg) no-repeat;
	  background-size:contain;
	}

	.gear-hero-wrapper .text {
		text-align: left;
		position: auto;
		padding-top:13%;
		padding-bottom:13%;
		max-width: 350px;
	}


	.hide-on-mobile {
		display: none!important;
	}

	header {
	  text-align: center;
			padding: 0;
	}

	header .logo {
	  text-align: center;
	}

	.about-hero-wrapper {
	  padding: 10px 10%;
	  background: url(../img/about-hero.jpg) no-repeat right top;
	  background-size: 130vw;
		text-align: left;
	}

	.gear-hero-wrapper {
	  padding: 10px 5%;
	}

	.about-hero-wrapper {
	  padding: 10px 5%;
	}

	.wide-hero-wrapper {
	  padding: 10px 5%;
	  height: 75vh;
		background-color: #4B72AA;
		background-position: bottom;
		background-size: contain;
	}


	.pricing {
		font-family: "Sukhumvit Set", sans-serif;
		font-size: 26px;
		border: 2px #fff solid;
		width: 90%;
		display: inline-block;
		border-radius: 10px;
		min-height: 400px;
		vertical-align: top;
		margin-bottom: 30px;
	}


 .text {
	  left: 5%;
		text-align: left;
	}

	.gear-hero-wrapper .text {
		margin-top: 50%;
	}

	.genre {
		width: 49%;
		height: 200px;
	}

	.perspective-info {
		padding: 0 5%;
	}

	.grid-half {
		margin-top: 2px;
		display: block;
		width: 100%;
		height: 300px;
	}

	.work-hero-wrapper{
		text-align: left;
	padding: 10px 5%;
	}

	footer {
		text-align: center;
		padding: 20px;
		font-size: 7px;
	}


	footer .logo {
		display: block;
		width: 100%;
		height: 35px;
		margin-bottom: -2px;
		background-image: url(../img/logo.svg);
		background-size: 100px;
		background-repeat: no-repeat;
		background-position: center;
	}

	.feature-hero p {
	  margin-top:50px;
		margin-bottom: 50px;
	  max-width: 100%;
	}

	.feature-hero p.no-compress {
	  margin-top:50px;
		margin-bottom: 50px;
		 max-width: 100%;
	}

	.grid-fill {
		margin-top: 2px;
		width: 99.9%;
		height: 300px;
	}

	.mobile-menu-button {
		display: inline-block;
		position: fixed;
		left: 5%;
		top:16px;
		padding: 5px;
		border: 1px #fff solid;
		border-radius: 5px;
	}

	.mobile-menu-button:hover {
		opacity: 0.7;
		cursor: pointer;
	}

.menu {
	text-align: center;
	position: fixed;
	background-color: #000;
	margin-bottom: -500px;
	border-bottom: 500px solid #000;
	width: 110%;
	left: -10%;
	bottom: 0;
	padding: 30px 0 30px 0;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition:  all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.menu a {
	display: block!important;
	line-height: 40px;
	text-align: center;
}

.menu a.close-menu {
	display: inline-block!important;
}

header .unactive {
	transform: translateY(100%);
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition:         all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
}

}
